.announcements {
    position: relative;
    margin-top: 4rem;
    padding: $YPadding 0;
    background-image: $corpYellowGradientTransparent, url(../../assets/testNews.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 61%;
        
        width: 42.8rem;
        transform: translate(0, -50%) skew(-30deg);
        background: $h1;

        @media screen and (min-width: $mobileL) {
            bottom: -170rem;
        }
    }

    &__logo {
        @media screen and (min-width: $mobileL) {
            display: none;
        }

        @media screen and (min-width: $laptop) {
            display: block;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: $laptop) {
            flex-direction: row;
        }
    }

    &__headerBlock {
        max-width: 100%;

        @media screen and (min-width: $laptop) {
            max-width: 50%;
        }
    }

    &__logo {
        img {
            filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 1));
        }
    }
}