@import '../mixins/delivery';

.deliver {
    position: relative;
    padding: 4rem 0 4.6rem 0;
    background-image: $corpBlueTransparent, url(../../assets/delivery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include busAnimation;

    @media screen and (min-Width: $laptop) {
        padding: 4rem 3rem 4.6rem 0;
    }

    @media screen and (min-Width: $laptopL) {
        padding: 4rem 0 4.6rem 0;
    }

    &__container {
        display: flex;
        justify-content: center;

        @media screen and (min-Width: $laptop) {
            justify-content: flex-end;
        }
    }

    &__bus {
        display: none;

        @media screen and (min-Width: $laptop) {
            display: block;
            position: absolute;
            top: 50%;
            left: -6%;
            transform: translate(0%, -50%);
        }
    }

    &__busCircle {
        max-width: 42rem;
        max-height: 42rem;
        width: 38vw;
        height: 38vw;
        background: $corpYellowGradient;
        border-radius: 50%;
        opacity: 0;
        transition: $mainTransition;

        img {
            position: absolute;
            top: 0;
            left: -85%;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            transition: $mainTransition;
            opacity: 0;
        }
    }

    .animateCircle {
        opacity: 1;
        animation: circlePop ease 0.8s 0s;

        img {
            left: -10%;
            opacity: 1;
        }
    }

    &__schedule {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 49rem;
    }

    &__text {
        margin: 0 0 -1rem 0;
        padding: 2.7rem 2rem;
        background: $corpYellow;
        border-radius: $mainRadius;
        box-shadow: $downShadow;
        z-index: 1;

        h1,
        h2,
        p {
            text-align: center;
        }

        h1 {
            b {
                color: $h1;
            }
        }

        h2 {
            color: $corpWhite;
            text-shadow: $textShadow;
        }

        @media screen and (min-Width: $laptop) {
            max-width: 49rem;
            width: 50vw;

            h1,
            h2,
            p {
                text-align: right;
            }
        }
    }

    &__table {
        padding: 4rem 2rem 3.5rem 2rem;
        background: $corpYellowTransparent;
        border-radius: $mainRadius;
        backdrop-filter: blur(3px);

        th {
            font-size: $fontSubHead;
            color: $corpWhite;
        }

        td {
            padding: 1rem 0;
            font-family: 'Rubik';
            font-size: $fontSub;
            color: $corpWhite;
        }
    }
}