.footer {
    padding: 4.6rem 0;
    background-image: $corpBlueTransparent, url(../../assets/board.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @media screen and (min-width: $tablet) {
            flex-direction: row;
        }
    }

    &__filbert {
        text-align: center;
    }

    &__social {
        margin-bottom: 1.5rem;
    }

    &__links {
        ul {
            display: flex;
            justify-content: space-between;
            width: 20rem;
            padding: 1rem 0.5rem;
        }

        a {
            font-size: $fontMain;
            color: $corpYellow;
            filter: drop-shadow($hardShadow);

            &:hover {
                color: $corpYellowHover;
            }
        }
    }

    &__rights {
        p {
            font-size: $text;
            color: $corpWhite;
        }
    }
}