.photoGallery {
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: $YPadding 0 0 0;
    }
}

.albums {
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
        grid-template-rows: auto;
        gap: 0.8vw;
        margin-top: $YPadding;
    }

    &__descr {
        position: absolute;
        top: 2rem;
        left: 2rem;
        font-size: $text;
        color: $corpWhite;
        text-shadow: $textShadow;

        & b {
            color: $corpYellow;
        }
    }
}