.album {
    padding: $YPadding 0;

    &__info {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    
    &__back {
        & button {
            width: 2rem;
            height: 2rem;
            background: rgb(206, 206, 206);
            font-size: $fontSub;
            color: $h1;
            border: none;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
        }
    }

    &__goTop {
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding: $YPadding 0 0 0;

        & button {
            // position: absolute;
            // bottom: 0;
            // right: 0;
            width: 2rem;
            height: 2rem;
            background: rgb(206, 206, 206);
            font-size: $fontSub;
            color: $h1;
            border: none;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
        }
    }

    &__header {
        margin: 2rem auto;
        font-size: $fontSubHead;
        text-align: center;

        & b {
            color: $h1;
        }
    }

    &__pictures {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        grid-template-rows: auto;
        gap: 0.5vw;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__modalPhoto {
        height: 50rem;
        border-radius: $mainRadius;
        overflow: hidden;

        .zzzoom {
            height: 50rem;
            
            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}

.ant-btn {
    padding: 0 !important;
    height: 17rem !important;
    border: none !important;
}