// Div sizes
$container-width: 90%;

// Padding and margin
$YPadding: 2rem;

// Fonts size
$giantText: 3.5rem;
$fontMain: 2.25rem;
$fontSub: 1.32rem;
$fontSubHead: 1.3rem;
$text: 1.12rem;

// Font thickness
$thin: 300;
$normal: 400;
$medium: 500;
$fat: 600;

// Text shadow
$textShadow: 0 0.25rem 0.25rem rgba(0, 0, 0, .18);
$hardShadow: 3px 3px 4px rgba(0, 0, 0, .9);

// Border radius
$mainRadius: 0.5rem;
$bigRadius: 1.18rem;

// Main border
$border: 2px solid #FFBE2E;
$whiteBorder: 3px solid #F2F2F2; 
$newsBorder: 1px solid #d4d4d4;

// Shadows
$shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
$hoverButtonShadow: 0 5px 7px rgba(0, 0, 0, .5);
$activeButtonShadow: 0 3px 7px rgba(0, 0, 0, .5);
$subShadow: 0px 0px 26px rgba(0, 0, 0, .3);
$allOverShadow: 0 0 13px rgba(0, 0, 0, .7);
$bigTopShadow: 0 7px 24px rgba(0, 0, 0, .7);
$smallTopShadow: 0 9px 3px rgba(0, 0, 0, .3);
$downShadow: 0px 3px 13px rgba(0, 0, 0, 0.2);
$yellowShadow: 0 5px 7px rgba(255, 190, 46, 0.8);
$rightShadow: 10px 0 10px rgba(0, 0, 0, .6);

// Opacity
$O7: 0.7;
$O4: 0.4;
$O3: 0.3;
$O2: 0.2;

// Transition
$mainTransition: all 0.3s 0s;
$mainTransitionWithDelay: all 0.3s 0.1s;

// Colors
$corpBlue: linear-gradient(137.24deg, #1C3D4B 28.96%, #2E4651 51.6%, #282C33 72.01%);
$corpBlueTransparent: linear-gradient(137.24deg, rgba(28, 61, 75, 0.72) 28.96%, rgba(46, 70, 81, 0.32) 51.6%, rgba(40, 44, 51, 0.84) 72.01%);
$corpBlueHover: linear-gradient(137.24deg, #265164 28.96%, #3a5764 51.6%, #383e47 72.01%);
$corpYellowGradient: linear-gradient(96.09deg, #FFBE2E 42.51%, #B97500 95.09%);
$corpYellow: #FFBE2E;
$corpYellowHover: #ffbd2ec7;
$corpYellowTransparent: rgba(255, 189, 46, 0.4); 
$corpWhite: #F2F2F2;
$corpWhiteGradient: linear-gradient(180deg, #FFFFFF 42.51%, #f1f1f1 95.09%);
$subColor: #b8b8b8;
$h1: #08415C;
$h1Hover: #185f80;
$mainText: #404040;
$dropShadow: rgba(0, 0, 0, .4);
$scrollBar: #b89a55;

// Media querys
$mobileL: 424px;
$tablet: 767px;
$laptop: 1023px;
$laptopL: 1439px;
$fourK: 2559px;
