@import 'fonts';
@import 'variables';
@import 'libs/normalize';
@import 'components/all';

body {
    font-family: 'Roboto', sans-serif;
}

h2,
h1 {
    margin: 0;
}

.wrapper {
    max-width: 1400px;
    width: calc(100vw - 100px);
    height: 100%;
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
        width: calc(100% - 1.5rem);
    }
    
    @media screen and (min-width: $mobileL) {
        width: calc(100% - 2.5rem);
    }
}

.h2Header {
    margin-bottom: 0.5rem;
    font-weight: $normal;
    color: $corpYellow;
}

.h1Header {
    font-weight: $normal;
    color: $h1;
    line-height: 3.3rem;
}

// .container {
//     width: $container-width;
//     margin: 0 auto;
// }
