@import 'fonts';
@import 'variables';
@import 'libs/normalize';
@import 'components/all';

@import "react-alice-carousel/lib/scss/alice-carousel.scss";

html,
body {
    scrollbar-color: $mainText $h1;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 7px;
        background-color: $h1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $subColor;
        border-radius: 9em;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: $corpYellow;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

h2,
h1 {
    margin: 0;
}

.wrapper {
    max-width: 1400px;
    width: calc(100vw - 100px);
    height: 100%;
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
        width: calc(100% - 1.5rem);
    }
    
    @media screen and (min-width: $mobileL) {
        width: calc(100% - 2.5rem);
    }
}

// .container {
//     width: $container-width;
//     margin: 0 auto;
// }

.h1Header {
    font-weight: $normal;
    color: $h1;
    line-height: 3.3rem;
}

.h2Header {
    margin-bottom: 0.5rem;
    font-weight: $normal;
    color: $corpYellow;
}

.h2HeaderWhite {
    margin-bottom: 0.5rem;
    font-weight: $normal;
    color: $corpWhite;
    text-shadow: $hardShadow;
}

.pHeader {
    font-size: $text;
    color: $mainText; 
}

.pHeaderSub {
    font-size: $text;
    color: $subColor;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1Sub {
    text-align: center;
    color: $subColor;
    text-shadow: $shadow;
}

.error {
    width: 100%;
    height: 2rem;
    font-size: 1.1rem;
    color: $error;
    text-align: center;
}

@media screen and(min-width: $laptop) {
    .photoGallery__header,
    .videogallery__header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 45%;
    }
}
